<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">
        
        <div class="card bg-danger text-white">
        	<div class="card-header">Error de acceso denegado</div>
        	<div class="card-body">
        		<h5 class="card-tittle">Lo sentimos el usuario:  <span sec:authentication="name"></span> no cuenta con los permisos necesarios</h5>
        		<a class="btn btn-primary " th:href="@{/listar}">Regresar a listar</a>
        	</div>
        </div>

    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>
