<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav th:fragment="paginator">
    <ul class="pagination">

        <li class="page-item" th:class="${page.first? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${page.first}">First Page</span>
            <a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">First Page</a>
        </li>

        <li class="page-item" th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${not page.hasPrevious}">Previous</span>
            <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.currentPage-2})}">Previous</a>
        </li>

        <li class="page-item" th:each="item : ${page.pages}"
            th:class="${item.actual? 'page-item active': 'page-item'}">
            <span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
            <a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}"
               th:text="${item.numero}"></a>
        </li>


        <li class="page-item" th:class="${not page.hasNext? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${not page.hasNext}">Next</span>
            <a class="page-link" th:if="${page.hasNext}"
               th:href="@{${page.url}(page=${page.currentPage})}">Next</a>
        </li>

        <li class="page-item" th:class="${page.last? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${page.last}">Last Page</span>
            <a class="page-link" th:if="${not page.last}"
               th:href="@{${page.url}(page=${page.totalPages-1})}">Last Page</a>
        </li>
    </ul>
</nav>

</body>

</html>