<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <td sec:authorize="hasRole('ADMIN')" class="text-center"><a th:href="@{/factura/form/}+ ${customer.id}"
                                                                            class="btn btn-success">Crear invoice</a>
                </td>
            </h4>
            <img th:if="${#strings.length(customer.photo) > 0}" class=" img-thumbnail rounded float-left"
                 style="max-width: 25%;" th:src="@{'/uploads/' + ${customer.photo}}" th:alt="${customer.name}">
            <ul class="list-group">
                <li class="list-group-item" th:text="${customer.name}"></li>
                <li class="list-group-item" th:text="${customer.lastName}"></li>
                <li class="list-group-item" th:text="${customer.email}"></li>
                <li class="list-group-item" th:text="${customer.createAt}"></li>
            </ul>
            <div th:if="${#lists.isEmpty(customer.invoices)}" class="alert alert-info mt-3" role="alert"
                 th:text="'No tiene Facturas...'">
            </div>
            <table th:if="${not #lists.isEmpty(customer.invoices)}" class="table table-bordered table-striped my-4">
                <thead>
                <tr>
                    <th>Folio</th>
                    <th>Description</th>
                    <th>CreatedAt</th>
                    <th>Total</th>
                    <th sec:authorize="hasRole('ADMIN')">Details</th>
                    <th sec:authorize="hasRole('ADMIN')">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invoice : ${customer.invoices}">
                    <td th:text="${invoice.id}"></td>
                    <td th:text="${invoice.description}"></td>
                    <td th:text="${invoice.createAt}"></td>
                    <td th:text="${invoice.granTotal()}"></td>
                    <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/factura/ver/}+${invoice.id}"
                           class="btn btn-primary">Details</a></td>
                    <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/factura/eliminar/}+${invoice.id}"
                           class="btn btn-danger">Eliminar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>